version: '3.8'

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000" # export port 3000 on the host and map it to post 3000 in the container
    env_file: ./api-gateway/.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://rabbitmq:5672

  identity-service:
    build: ./identity-service
    env_file: ./identity-service/.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://rabbitmq:5672

  post-service:
    build: ./post-service
    env_file: ./post-service/.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://rabbitmq:5672

  media-service:
    build: ./media-service
    env_file: ./media-service/.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://rabbitmq:5672

  search-service:
    build: ./search-service
    env_file: ./search-service/.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://rabbitmq:5672

  redis:
    image: redis:alpine # automatically use the official redis image based on Alpine Linus
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management # automatically use the official RabbitMQ image with the management plug-in enable
    ports:
      - "5672:5672"
      - "15672:15672" # expose management plugin HTTP API to the host
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ] # run the command to check whether RabbitMQ is responsive
      interval: 30s
      timeout: 10s
      retries: 5